.head {
    background: mediumseagreen;
    height: 10%;
}

.left {
    background: azure;
}

.right {
    background: azure;
}

.contain {
    background: azure;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*màn hình điện thoai*/
@media only screen and (max-width:740px ){
    .col-s-1 {width: 8.33333%;}
    .col-s-2 {width: 16.66667%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33333%;}
    .col-s-5 {width: 41.66667%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33333%;}
    .col-s-8 {width: 66.66667%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33333%;}
    .col-s-11 {width: 91.66667%;}
    .col-s-12 {width: 100%;}
    /*tăng kích thước font cho dễ đọc*/
    li{
        font-size: 40px;
        text-align: center;
        color: black;
    }
    p{
        font-size: 35px;
        color: black;
    }
    .title{
        font-size: 55px;
        color: black;
    }
}
/*Màn hinh laptop và máy tính bảng*/
@media only screen and (min-width:741px)and (max-width:1240px){
    .col-m-1 {width: 8.33333%;}
    .col-m-2 {width: 16.66667%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33333%;}
    .col-m-5 {width: 41.66667%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33333%;}
    .col-m-8 {width: 66.66667%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33333%;}
    .col-m-11 {width: 91.66667%;}
    .col-m-12 {width: 100%;}
}
/*Màn hình máy tính pc và tivi smart*/
@media only screen and (min-width:1241px){
    .col-l-1 {width: 8.33333%;}
    .col-l-2 {width: 16.66667%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33333%;}
    .col-l-5 {width: 41.66667%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33333%;}
    .col-l-8 {width: 66.66667%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33333%;}
    .col-l-11 {width: 91.66667%;}
    .col-l-12 {width: 100%;}
}

/*---------------------*/
/*------------------*/
#menuheadleft{
    height: 50px;
    padding:0;
    margin:0;
    background-color: black;
    border: 1px solid #CDCDCD;
    text-align: center;

}


#menuheadleft ul, #menuheadleft li{
    padding:0;
    margin:0;
}

#menuheadleft li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}

#menuheadleft li a{
    width:250px;
    height: 40px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: gray;
    margin-left: 70%;
    margin-top:10px ;
}

#menuheadleft ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

#menuheadleft li a:hover{
    background-color: #ff0000;
}

#menuheadleft ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}

#menuheadleft ul li:hover ul{
    visibility: visible;
}
/*-----------------------*/
.tapmoinhat{
    margin: 5px;
}
